/* Hoja de estilo para paginas externas */

*{
	padding: 0;
	margin: 0;
	font-family: Arial;
	color: #FFF;
}
a{
	text-decoration: none;
}
body{
	background-color: black;
}
.ayuda{
	text-align: left;
	display: inline-block;
	position: absolute;
	padding-top: 20rem; 
	padding-bottom: 20rem;
	width: 215rem;
	height: 215rem; 
	
}
