/* WebListInfinity CSS */

*{
	padding: 0;
	margin: 0;
	font-family: Arial;
	color: #FFF;
}

a{
	text-decoration: none;
}

/* 13 Custom */
@media screen and (min-width: 200px) {
	nav{
		background-color: rgb(36, 25, 25);
		width: 2.5rem;
		height: 11.4rem;
		padding: 0.5rem;
		margin-left: 0.5rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		text-align: center;
		display: inline-block;
	}
	aside{
		height: 2rem;
		width: 2rem;
		border: 0.2px solid white;
		display: inline-block;
		text-align: center;
	}
	.InitHelp{
		margin-left: 88%;
	}
	.asidMin{
		height: 0.8rem;
		width: 0.8rem;
		border: 0.2px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 0.7rem;
		height: 0.7rem;
	}
	.title{
		font-size: 0.6rem;
	}
	.subtitle{
		font-size: 0.42rem;
	}
	.space{
		font-size: 0.2rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 0.2px solid white;
		border-radius: 2px;
		width: 3.4rem;
		font-size: 0.3rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 0.2px solid white;
		border-radius: 2px;
		width: 3.4rem;
		font-size: 0.3rem;
		text-align: center;
		transition: background 1.2s, color 1.2s;
	}
	.blockAn{
		display: inline-block;
		position: absolute;
		margin-top: 0.5rem; 
		margin-bottom: 0.5rem;
		width: 79%;
		padding-left: 2%;
		height: 12.4rem;
		background-color: none;
		text-align: left;
	}
	.block.start{
		display: inline-block;
		position: absolute;
		margin-top: 0.5rem; 
		margin-bottom: 0.5rem;
		width: 81%;
		height: 12.4rem;
		background-color: none;
		text-align: center;
	}
	.Imgico{
		width: 0.7rem;
		height: 0.7rem;
	}
	.ImgicoLog{
		margin-top: 5rem; 
		width: 2rem;
		height: 2rem;
	}
	.atxt{
		font-size: 0.42rem;
	}
}

/* 12 Custom */
@media screen and (min-width: 800px) {
	nav{
		background-color: rgb(36, 25, 25);
		width: 6.25rem;
		height: 28.3rem;
		padding: 1.25rem;
		margin-left: 1.25rem;
		margin-top: 1.25rem;
		margin-bottom: 1.25rem;
		text-align: center;
		display: inline-block;
	}
	aside{
		height: 4.1rem;
		width: 4.1rem;
		border: 0.5px solid white;
		display: inline-block;
		text-align: center;
	}
	.InitHelp{
		margin-left: 88%;
	}
	.asidMin{
		height: 1.5rem;
		width: 1.5rem;
		border: 0.5px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 1.5rem;
		height: 1.5rem;
	}
	.title{
		font-size: 1.25rem;
	}
	.subtitle{
		font-size: 0.9rem;
	}
	.space{
		font-size: 0.9rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 0.5px solid white;
		border-radius: 5px;
		width: 7rem;
		font-size: 0.8rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 0.5px solid white;
		border-radius: 5px;
		width: 7rem;
		font-size: 0.8rem;
		text-align: center;
		transition: background 1.2s, color 1.2s;
	}
	.blockAn{
		display: inline-block;
		position: absolute;
		margin-top: 1.25rem; 
		margin-bottom: 1.25rem;
		width: 79%;
		padding-left: 2%;
		height: 30.8rem;
		background-color: none;
		text-align: left;
	}
	.block.start{
		display: inline-block;
		position: absolute;
		margin-top: 1.25rem; 
		margin-bottom: 1.25rem;
		width: 81%;
		height: 30.8rem;
		background-color: none;
		text-align: center;
	}
	.Imgico{
		width: 1.8rem;
		height: 1.8rem;
	}
	.ImgicoLog{
		margin-top: 11.35rem; 
		width: 6.2rem;
		height: 6.2rem;
	}
	.atxt{
		font-size: 0.9rem;
	}
}

/* 11 Custom */
@media screen and (min-width: 1000px) {
	nav{
		background-color: rgb(36, 25, 25);
		width: 7.17rem;
		height: 32.4rem;
		padding: 1.42rem;
		margin-left: 1.42rem;
		margin-top: 1.42rem;
		margin-bottom: 1.42rem;
		text-align: center;
		display: inline-block;
	}
	aside{
		height: 4.7rem;
		width: 4.7rem;
		border: 0.5px solid white;
		display: inline-block;
		text-align: center;
	}
	.InitHelp{
		margin-left: 88%;
	}
	.asidMin{
		height: 2rem;
		width: 2rem;
		border: 0.5px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 2rem;
		height: 2rem;
	}
	.title{
		font-size: 1.42rem;
	}
	.subtitle{
		font-size: 0.9rem;
	}
	.space{
		font-size: 0.9rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 0.5px solid white;
		border-radius: 5px;
		width: 8rem;
		font-size: 0.9rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 0.5px solid white;
		border-radius: 5px;
		width: 8rem;
		font-size: 0.9rem;
		text-align: center;
		transition: background 1.2s, color 1.2s;
	}
	.blockAn{
		display: inline-block;
		position: absolute;
		margin-top: 1.42rem; 
		margin-bottom: 1.42rem;
		width: 79%;
		padding-left: 2%;
		height: 35.2rem;
		background-color: none;
		text-align: left;
	}
	.block.start{
		display: inline-block;
		position: absolute;
		margin-top: 1.42rem; 
		margin-bottom: 1.42rem;
		width: 81%;
		height: 35.2rem;
		background-color: none;
		text-align: center;
	}
	.Imgico{
		width: 2.2rem;
		height: 2.2rem;
	}
	.ImgicoLog{
		margin-top: 13rem; 
		width: 7.1rem;
		height: 7.1rem;
	}
	.atxt{
		font-size: 0.9rem;
	}
}

/* 10 Custom */
@media screen and (min-width: 1200px) {
	nav{
		background-color: rgb(36, 25, 25);
		width: 8.4rem;
		height: 37.8rem;
		padding: 1.65rem;
		margin-left: 1.65rem;
		margin-top: 1.65rem;
		margin-bottom: 1.65rem;
		text-align: center;
		display: inline-block;
	}
	aside{
		height: 5.5rem;
		width: 5.5rem;
		border: 0.5px solid white;
		display: inline-block;
		text-align: center;
	}
	.InitHelp{
		margin-left: 88%;
	}
	.asidMin{
		height: 2rem;
		width: 2rem;
		border: 0.5px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 2rem;
		height: 2rem;
	}
	.title{
		font-size: 1.65rem;
	}
	.subtitle{
		font-size: 1rem;
	}
	.space{
		font-size: 1rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 0.5px solid white;
		border-radius: 5px;
		width: 9rem;
		font-size: 0.93rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 0.5px solid white;
		border-radius: 5px;
		width: 9rem;
		font-size: 0.93rem;
		text-align: center;
		transition: background 1.2s, color 1.2s;
	}
	.blockAn{
		display: inline-block;
		position: absolute;
		margin-top: 1.65rem; 
		margin-bottom: 1.65rem;
		width: 79%;
		padding-left: 2%;
		height: 41rem;
		background-color: none;
		text-align: left;
	}
	.block.start{
		display: inline-block;
		position: absolute;
		margin-top: 1.65rem; 
		margin-bottom: 1.65rem;
		width: 81%;
		height: 41rem;
		background-color: none;
		text-align: center;
	}
	.Imgico{
		width: 2.5rem;
		height: 2.5rem;
	}
	.ImgicoLog{
		margin-top: 15.2rem; 
		width: 8.25rem;
		height: 8.25rem;
	}
	.atxt{
		font-size: 1rem;
	}
}

/* 9 Custom */
@media screen and (min-width: 1400px) {
	nav{
		background-color: rgb(36, 25, 25);
		width: 10rem;
		height: 45.35rem;
		padding: 2rem;
		margin-left: 2rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
		text-align: center;
		display: inline-block;
	}
	aside{
		height: 6.5rem;
		width: 6.5rem;
		border: 1px solid white;
		display: inline-block;
		text-align: center;
	}
	.InitHelp{
		margin-left: 88%;
	}
	.asidMin{
		height: 2.5rem;
		width: 2.5rem;
		border: 1px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 2.5rem;
		height: 2.5rem;
	}
	.title{
		font-size: 1.95rem;
	}
	.subtitle{
		font-size: 1.33rem;
	}
	.space{
		font-size: 1.33rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 1px solid white;
		border-radius: 8px;
		width: 11rem;
		font-size: 1.2rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 1px solid white;
		border-radius: 8px;
		width: 11rem;
		font-size: 1.2rem;
		text-align: center;
		transition: background 1.2s, color 1.2s;
	}
	.blockAn{
		display: inline-block;
		position: absolute;
		margin-top: 2rem; 
		margin-bottom: 2rem;
		width: 79%;
		padding-left: 2%;
		height: 49.2rem;
		background-color: none;
		text-align: left;
	}
	.block.start{
		display: inline-block;
		position: absolute;
		margin-top: 2rem; 
		margin-bottom: 2rem;
		width: 81%;
		height: 49.2rem;
		background-color: none;
		text-align: center;
	}
	.Imgico{
		width: 3rem;
		height: 3rem;
	}
	.ImgicoLog{
		margin-top: 18.1rem; 
		width: 9.9rem;
		height: 9.9rem;
	}
	.atxt{
		font-size: 1.33rem;
	}
}

/* 8 Custom */
@media screen and (min-width: 1600px) {
	nav{
		background-color: rgb(36, 25, 25);
		width: 11.3rem;
		height: 51.3rem;
		padding: 2.3rem;
		margin-left: 2.3rem;
		margin-top: 2.3rem;
		margin-bottom: 2.3rem;
		text-align: center;
		display: inline-block;
	}
	aside{
		height: 7rem;
		width: 7rem;
		border: 1px solid white;
		display: inline-block;
		text-align: center;
	}
	.InitHelp{
		margin-left: 88%;
	}
	.asidMin{
		height: 3rem;
		width: 3rem;
		border: 1px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 3rem;
		height: 3rem;
	}
	.title{
		font-size: 2.15rem;
	}
	.subtitle{
		font-size: 1.5rem;
	}
	.space{
		font-size: 1.5rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 1px solid white;
		border-radius: 8px;
		width: 12rem;
		font-size: 1.35rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 1px solid white;
		border-radius: 8px;
		width: 12rem;
		font-size: 1.35rem;
		text-align: center;
		transition: background 1.2s, color 1.2s;
	}
	.blockAn{
		display: inline-block;
		position: absolute;
		margin-top: 2.3rem; 
		margin-bottom: 2.3rem;
		width: 79%;
		padding-left: 2%;
		height: 55.8rem;
		background-color: none;
		text-align: left;
	}
	.block.start{
		display: inline-block;
		position: absolute;
		margin-top: 2.3rem; 
		margin-bottom: 2.3rem;
		width: 81%;
		height: 55.8rem;
		background-color: none;
		text-align: center;
	}
	.Imgico{
		width: 3.2rem;
		height: 3.2rem;
	}
	.ImgicoLog{
		margin-top: 20.5rem; 
		width: 11.3rem;
		height: 11.3rem;
	}
	.atxt{
		font-size: 1.5rem;
	}
}

/* 7 Custom */
@media screen and (min-width: 1800px) {
	nav{
		background-color: rgb(36, 25, 25);
		width: 12.5rem;
		height: 56.6rem;
		padding: 2.5rem;
		margin-left: 2.5rem;
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
		text-align: center;
		display: inline-block;
	}
	aside{
		height: 7.7rem;
		width: 7.7rem;
		border: 1px solid white;
		display: inline-block;
		text-align: center;
	}
	.InitHelp{
		margin-left: 88%;
	}
	.asidMin{
		height: 3.5rem;
		width: 3.5rem;
		border: 1px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 3.5rem;
		height: 3.5rem;
	}
	.title{
		font-size: 2.3rem;
	}
	.subtitle{
		font-size: 1.6rem;
	}
	.space{
		font-size: 1.6rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 1px solid white;
		border-radius: 8px;
		width: 13rem;
		font-size: 1.43rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 1px solid white;
		border-radius: 8px;
		width: 13rem;
		font-size: 1.43rem;
		text-align: center;
		transition: background 1.2s, color 1.2s;
	}
	.blockAn{
		display: inline-block;
		position: absolute;
		margin-top: 2.5rem; 
		margin-bottom: 2.5rem;
		width: 79%;
		padding-left: 2%;
		height: 61.5rem;
		background-color: none;
		text-align: left;
	}
	.block.start{
		display: inline-block;
		position: absolute;
		margin-top: 2.5rem; 
		margin-bottom: 2.5rem;
		width: 81%;
		height: 61.5rem;
		background-color: none;
		text-align: center;
	}
	.Imgico{
		width: 3.5rem;
		height: 3.5rem;
	}
	.ImgicoLog{
		margin-top: 22.55rem; 
		width: 12.5rem;
		height: 12.5rem;
	}
	.atxt{
		font-size: 1.6rem;
	}
}

/* 6 Custom */
@media screen and (min-width: 2000px) {
	nav{
		background-color: rgb(36, 25, 25);
		width: 13.8rem;
		height: 62.8rem;
		padding: 2.8rem;
		margin-left: 2.8rem;
		margin-top: 2.8rem;
		margin-bottom: 2.8rem;
		text-align: center;
		display: inline-block;
	}
	aside{
		height: 8.5rem;
		width: 8.5rem;
		border: 1px solid white;
		display: inline-block;
		text-align: center;
	}
	.InitHelp{
		margin-left: 88%;
	}
	.asidMin{
		height: 4rem;
		width: 4rem;
		border: 1px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 4rem;
		height: 4rem;
	}
	.title{
		font-size: 2.5rem;
	}
	.subtitle{
		font-size: 1.75rem;
	}
	.space{
		font-size: 1.75rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 1px solid white;
		border-radius: 8px;
		width: 14rem;
		font-size: 1.56rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 1px solid white;
		border-radius: 8px;
		width: 14rem;
		font-size: 1.56rem;
		text-align: center;
		transition: background 1.2s, color 1.2s;
	}
	.blockAn{
		display: inline-block;
		position: absolute;
		margin-top: 2.8rem; 
		margin-bottom: 2.8rem;
		width: 79%;
		padding-left: 2%;
		height: 68.4rem;
		background-color: none;
		text-align: left;
	}
	.block.start{
		display: inline-block;
		position: absolute;
		margin-top: 2.8rem; 
		margin-bottom: 2.8rem;
		width: 81%;
		height: 68.4rem;
		background-color: none;
		text-align: center;
	}
	.Imgico{
		width: 4rem;
		height: 4rem;
	}
	.ImgicoLog{
		margin-top: 25rem; 
		width: 13.88rem;
		height: 13.88rem;
	}
	.atxt{
		font-size: 1.75rem;
	}
}

/* 5 Custom */
@media screen and (min-width: 2200px) {
	nav{
		background-color: rgb(36, 25, 25);
		width: 15.7rem;
		height: 71rem;
		padding: 3.1rem;
		margin-left: 3.1rem;
		margin-top: 3.1rem;
		margin-bottom: 3.1rem;
		text-align: center;
		display: inline-block;
	}
	aside{
		height: 9.5rem;
		width: 9.5rem;
		border: 1px solid white;
		display: inline-block;
		text-align: center;
	}
	.InitHelp{
		margin-left: 88%;
	}
	.asidMin{
		height: 4.5rem;
		width: 4.5rem;
		border: 1px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 4.5rem;
		height: 4.5rem;
	}
	.title{
		font-size: 2.7rem;
	}
	.subtitle{
		font-size: 1.9rem;
	}
	.space{
		font-size: 1.9rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 1px solid white;
		border-radius: 8px;
		width: 15rem;
		font-size: 1.7rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 1px solid white;
		border-radius: 8px;
		width: 15rem;
		font-size: 1.7rem;
		text-align: center;
		transition: background 1.2s, color 1.2s;
	}
	.blockAn{
		display: inline-block;
		position: absolute;
		margin-top: 3.1rem; 
		margin-bottom: 3.1rem;
		width: 79%;
		padding-left: 2%;
		height: 77rem;
		background-color: none;
		text-align: left;
	}
	.block.start{
		display: inline-block;
		position: absolute;
		margin-top: 3.1rem; 
		margin-bottom: 3.1rem;
		width: 81%;
		height: 77rem;
		background-color: none;
		text-align: center;
	}
	.Imgico{
		width: 5.2rem;
		height: 5.2rem;
	}
	.ImgicoLog{
		margin-top: 28.2rem; 
		width: 15.6rem;
		height: 15.6rem;
	}
	.atxt{
		font-size: 1.9rem;
	}
}

/* 4 Custom */
@media screen and (min-width: 2500px) {
	nav{
		background-color: rgb(36, 25, 25);
		width: 16.6rem;
		height: 75.5rem;
		padding: 3.35rem;
		margin-left: 3.35rem;
		margin-top: 3.35rem;
		margin-bottom: 3.35rem;
		text-align: center;
		display: inline-block;
	}
	aside{
		height: 10.2rem;
		width: 10.2rem;
		border: 1px solid white;
		display: inline-block;
		text-align: center;
	}
	.InitHelp{
		margin-left: 88%;
	}
	.asidMin{
		height: 5rem;
		width: 5rem;
		border: 1px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 5rem;
		height: 5rem;
	}
	.title{
		font-size: 2.9rem;
	}
	.subtitle{
		font-size: 2rem;
	}
	.space{
		font-size: 2rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 1px solid white;
		border-radius: 12px;
		width: 16rem;
		font-size: 1.8rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 1px solid white;
		border-radius: 12px;
		width: 16rem;
		font-size: 1.8rem;
		text-align: center;
		transition: background 1.2s, color 1.2s;
	}
	.blockAn{
		display: inline-block;
		position: absolute;
		margin-top: 3.35rem; 
		margin-bottom: 3.35rem;
		width: 79%;
		padding-left: 2%;
		height: 82rem;
		background-color: none;
		text-align: left;
	}
	.block.start{
		display: inline-block;
		position: absolute;
		margin-top: 3.35rem; 
		margin-bottom: 3.35rem;
		width: 81%;
		height: 82rem;
		background-color: none;
		text-align: center;
	}
	.Imgico{
		width: 5.2rem;
		height: 5.2rem;
	}
	.ImgicoLog{
		margin-top: 30rem; 
		width: 16.65rem;
		height: 16.65rem;
	}
	.atxt{
		font-size: 2rem;
	}
}

/* 3 Custom */
@media screen and (min-width: 2800px) {
	nav{
		background-color: rgb(36, 25, 25);
		width: 18.75rem;
		height: 85.2rem;
		padding: 3.75rem;
		margin-left: 3.75rem;
		margin-top: 3.75rem;
		margin-bottom: 3.75rem;
		text-align: center;
		display: inline-block;
	}
	aside{
		height: 11.5rem;
		width: 11.5rem;
		border: 2px solid white;
		display: inline-block;
		text-align: center;
	}
	.InitHelp{
		margin-left: 88%;
	}
	.asidMin{
		height: 6rem;
		width: 6rem;
		border: 2px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 6rem;
		height: 6rem;
	}
	.title{
		font-size: 3.2rem;
	}
	.subtitle{
		font-size: 2.24rem;
	}
	.space{
		font-size: 2.24rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 2px solid white;
		border-radius: 12px;
		width: 18rem;
		font-size: 2rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 2px solid white;
		border-radius: 12px;
		width: 18rem;
		font-size: 2rem;
		text-align: center;
		transition: background 1.2s, color 1.2s;
	}
	.blockAn{
		display: inline-block;
		position: absolute;
		margin-top: 3.75rem; 
		margin-bottom: 3.75rem;
		width: 79%;
		padding-left: 2%;
		height: 92.4rem;
		background-color: none;
		text-align: left;
	}
	.block.start{
		display: inline-block;
		position: absolute;
		margin-top: 3.75rem; 
		margin-bottom: 3.75rem;
		width: 81%;
		height: 92.4rem;
		background-color: none;
		text-align: center;
	}
	.Imgico{
		width: 5.8rem;
		height: 5.8rem;
	}
	.ImgicoLog{
		margin-top: 33.75rem; 
		width: 18.75rem;
		height: 18.75rem;
	}
	.atxt{
		font-size: 2.24rem;
	}
}

/* 2 Custom */
@media screen and (min-width: 3000px) {
	nav{
		background-color: rgb(36, 25, 25);
		width: 25rem;
		height: 113.2rem;
		padding: 5rem;
		margin-left: 5rem;
		margin-top: 5rem;
		margin-bottom: 5rem;
		text-align: center;
		display: inline-block;
	}
	aside{
		height: 15rem;
		width: 15rem;
		border: 2px solid white;
		display: inline-block;
		text-align: center;
	}
	.InitHelp{
		margin-left: 88%;
	}
	.asidMin{
		height: 8rem;
		width: 8rem;
		border: 2px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 8rem;
		height: 8rem;
	}
	.title{
		font-size: 4.25rem;
	}
	.subtitle{
		font-size: 3.15rem;
	}
	.space{
		font-size: 3.15rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 2px solid white;
		border-radius: 17px;
		width: 25rem;
		font-size: 2.81rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 2px solid white;
		border-radius: 17px;
		width: 25rem;
		font-size: 2.81rem;
		text-align: center;
		transition: background 1.2s, color 1.2s;
	}
	.blockAn{
		display: inline-block;
		position: absolute;
		margin-top: 5rem; 
		margin-bottom: 5rem;
		width: 79%;
		padding-left: 2%;
		height: 123rem;
		background-color: none;
		text-align: left;
	}
	.block.start{
		display: inline-block;
		position: absolute;
		margin-top: 5rem; 
		margin-bottom: 5rem;
		width: 81%;
		height: 123rem;
		background-color: none;
		text-align: center;
	}
	.Imgico{
		width: 7.5rem;
		height: 7.5rem;
	}
	.ImgicoLog{
		margin-top: 45rem; 
		width: 25rem;
		height: 25rem;
	}
	.atxt{
		font-size: 3.15rem;
	}
}

/* 1 (7x0.572)x6m + Custom */
@media screen and (min-width: 4500px) {
	nav{
		background-color: rgb(36, 25, 25);
		width: 37.5rem;
		height: 170rem;
		padding: 7.5rem;
		margin-left: 7.5rem;
		margin-top: 7.5rem;
		margin-bottom: 7.5rem;
		text-align: center;
		display: inline-block;
	}
	aside{
		height: 22.45rem;
		width: 22.45rem;
		border: 4px solid white;
		display: inline-block;
	}
	.InitHelp{
		margin-left: 88%;
	}
	.asidMin{
		height: 11rem;
		width: 11rem;
		border: 4px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 11rem;
		height: 11rem;
	}
	.title{
		font-size: 6.4rem;
	}
	.subtitle{
		font-size: 4.48rem;
	}
	.space{
		font-size: 4.48rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 4px solid white;
		border-radius: 20px;
		width: 38rem;
		font-size: 4rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 4px solid white;
		border-radius: 20px;
		width: 38rem;
		font-size: 4rem;
		text-align: center;
		transition: background 1.2s, color 1.2s;
	}
	.blockAn{
		display: inline-block;
		position: absolute;
		margin-top: 7.5rem; 
		margin-bottom: 7.5rem;
		width: 79%;
		padding-left: 2%;
		height: 184.5rem; 
		background-color: none;
		text-align: left;
	}
	.block.start{
		display: inline-block;
		position: absolute;
		margin-top: 7.5rem; 
		margin-bottom: 7.5rem;
		width: 81%;
		height: 184.5rem; 
		background-color: none;
		text-align: center;
	}
	.ImgicoLog{
		margin-top: 67.5rem; 
		width: 37.5rem;
		height: 37.5rem;
	}
	.Imgico{
		width: 11.25rem;
		height: 11.25rem;
	}
	.atxt{
		font-size: 4.48rem;
	}
}

/* 0 Custom */
@media screen and (min-width: 6000px) {
	nav{
		background-color: rgb(36, 25, 25);
		width: 50rem;
		height: 226.9rem;
		padding: 10rem;
		margin-left: 10rem;
		margin-top: 10rem;
		margin-bottom: 10rem;
		text-align: center;
		display: inline-block;
	}
	aside{
		height: 30rem;
		width: 30rem;
		border: 5px solid white;
		display: inline-block;
	}
	.InitHelp{
		margin-left: 88%;
	}
	.asidMin{
		height: 15rem;
		width: 15rem;
		border: 5px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 15rem;
		height: 15rem;
	}
	.title{
		font-size: 8.5rem;
	}
	.subtitle{
		font-size: 6rem;
	}
	.space{
		font-size: 6rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 5px solid white;
		border-radius: 25px;
		width: 50rem;
		font-size: 5.3rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 5px solid white;
		border-radius: 25px;
		width: 50rem;
		font-size: 5.3rem;
		text-align: center;
		transition: background 1.2s, color 1.2s;
	}
	.blockAn{
		display: inline-block;
		position: absolute;
		margin-top: 10rem; 
		margin-bottom: 10rem;
		width: 79%;
		padding-left: 2%;
		height: 246.5rem; 
		background-color: none;
		text-align: left;
	}
	.block.start{
		display: inline-block;
		position: absolute;
		margin-top: 10rem; 
		margin-bottom: 10rem;
		width: 81%;
		height: 246.5rem; 
		background-color: none;
		text-align: center;
	}
	.Imgico{
		width: 15rem;
		height: 15rem;
	}
	.ImgicoLog{
		margin-top: 90rem; 
		width: 50rem;
		height: 50rem;
	}
	.atxt{
		font-size: 6rem;
	}
}

.inputbutn.int:hover{
	background: white;
	color: black;
}
