/* Responsivo 100% real :v */

*{
	padding: 0;
	margin: 0;
	font-family: Arial;
	color: #FFF;
}

a{
	text-decoration: none;
}

body{
	background-color: black;
}

/* 8 */
@media screen and (min-width: 100px) {
	nav{
		display: inline-block;
		background-color: none;
		border: 0.5px solid white;
		border-radius: 10px;
		margin: 0.8rem;
		width: 2.9rem;
		height: 10.5rem;
		padding: 0.5rem;
		text-align: center;
	}
	aside{
		display: inline-block;
		height: 2rem;
		width: 2rem;
		border: 0.5px solid white;
		text-align: center;
	}
	.asidMin{
		height: 0.8rem;
		width: 0.8rem;
		border: 0.5px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 0.8rem;
		height: 0.8rem;
	}
	.title{
		font-size: 0.4rem;
	}
	.subtitle{
		font-size: 0.28rem;
		text-align: left;
	}
	.space{
		font-size: 0.28rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 0.5px solid white;
		border-radius: 1px;
		width: 2.9rem;
		font-size: 0.25rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 0.5px solid white;
		border-radius: 1px;
		width: 2.9rem;
		text-align: center;
		font-size: 0.25rem;
	}
	.inputbutn.int:hover{
		background: none;
		color: white;
		border: 0.5px solid white;
		border-radius: 1px;
		width: 2.9rem;
		text-align: center;
		animation-name: chb;
		animation-duration: 1.2s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		font-size: 0.25rem;
	}
	.btaling{
		font-size: 0.5rem;
		text-align: center;
	}
	.block{
		display: inline-block;
		position: absolute;
		padding-top: 0.8rem; 
		padding-bottom: 0.8rem;
		width: 73%;
		height: 87%; 
	}
	.block.start{
		text-align: right;
		display: inline-block;
		position: absolute;
		padding-top: 0.8rem; 
		padding-bottom: 0.8rem;
		width: 73%;
		height: 87%; 
	}
	.Imgico{
		width: 1rem;
		height: 1rem;
	}
	.atxt{
		font-size: 0.28rem;
	}
}

/* 7 */
@media screen and (min-width: 500px) {
	nav{
		display: inline-block;
		background-color: none;
		border: 1px solid white;
		border-radius: 20px;
		margin: 1.9rem;
		width: 8rem;
		height: 27rem;
		padding: 1.2rem;
		text-align: center;
	}
	aside{
		display: inline-block;
		height: 3.5rem;
		width: 3.5rem;
		border: 1px solid white;
		text-align: center;
	}
	.asidMin{
		height: 2.5rem;
		width: 2.5rem;
		border: 1px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 2.3rem;
		height: 2.3rem;
	}
	.title{
		font-size: 1.3rem;
	}
	.subtitle{
		font-size: 0.9rem;
		text-align: left;
	}
	.space{
		font-size: 0.9rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 1px solid white;
		border-radius: 3px;
		width: 8rem;
		font-size: 0.8rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 1px solid white;
		border-radius: 3px;
		width: 8rem;
		text-align: center;
		font-size: 0.8rem;
	}
	.inputbutn.int:hover{
		background: none;
		color: white;
		border: 1px solid white;
		border-radius: 3px;
		width: 8rem;
		text-align: center;
		animation-name: chb;
		animation-duration: 1.2s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		font-size: 0.8rem;
	}
	.btaling{
		font-size: 1rem;
		text-align: center;
	}
	.block{
		display: inline-block;
		position: absolute;
		padding-top: 1.9rem; 
		padding-bottom: 1.9rem;
		width: 72%;
		height: 87%;  
	}
	.block.start{
		text-align: right;
		display: inline-block;
		position: absolute;
		padding-top: 1.9rem; 
		padding-bottom: 1.9rem;
		width: 72%;
		height: 87%; 
	}
	.Imgico{
		width: 1rem;
		height: 1rem;
	}
	.atxt{
		font-size: 0.9rem;
	}
}

/* 6 */
@media screen and (min-width: 1000px) {
	nav{
		background-color: none;
		border: 1px solid white;
		border-radius: 30px;
		margin: 2.5rem;
		width: 10rem;
		height: 35rem;
		padding: 2rem;
		text-align: center;
		display: inline-block;
	}
	aside{
		height: 7rem;
		width: 7rem;
		border: 1px solid white;
		text-align: center;
		display: inline-block;
	}
	.asidMin{
		height: 3rem;
		width: 3rem;
		border: 1px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 2.5rem;
		height: 2.5rem;
	}
	.title{
		font-size: 1.7rem;
	}
	.subtitle{
		font-size: 1.2rem;
		text-align: left;
	}
	.space{
		font-size: 1.2rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 1px solid white;
		border-radius: 5px;
		width: 10rem;
		font-size: 1rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 1px solid white;
		border-radius: 5px;
		width: 10rem;
		font-size: 1rem;
		text-align: center;
	}
	.inputbutn.int:hover{
		background: none;
		color: white;
		border: 1px solid white;
		border-radius: 5px;
		width: 10rem;
		font-size: 1rem;
		text-align: center;
		animation-name: chb;
		animation-duration: 1.2s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
	.btaling{
		font-size: 2rem;
		text-align: center;
	}
	.block{
		display: inline-block;
		position: absolute; 
		padding-top: 2.5rem; 
		padding-bottom: 2.5rem;
		width: 71%;
		height: 86%;  
	}
	.block.start{
		text-align: right;
		display: inline-block;
		position: absolute;
		padding-top: 2.5rem; 
		padding-bottom: 2.5rem;
		width: 71%;
		height: 86%; 
	}
	.Imgico{
		width: 3rem;
		height: 3rem;
	}
	.atxt{
		font-size: 1.2rem;
	}
}

/* 5 */
@media screen and (min-width: 1500px) {
	nav{
		background-color: none;
		border: 1.5px solid white;
		border-radius: 35px;
		margin: 3rem;
		width: 15rem;
		height: 50rem;
		padding: 2.3rem;
		text-align: center;
		display: inline-block;
	}
	aside{
		height: 8rem;
		width: 8rem;
		border: 1.5px solid white;
		text-align: center;
		display: inline-block;
	}
	.asidMin{
		height: 3.8rem;
		width: 3.8rem;
		border: 1.5px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 3rem;
		height: 3rem;
	}
	.title{
		font-size: 2.5rem;
	}
	.subtitle{
		font-size: 1.3rem;
		text-align: left;
	}
	.space{
		font-size: 1.3rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 1.5px solid white;
		border-radius: 8px;
		width: 15rem;
		font-size: 1.2rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 1.5px solid white;
		border-radius: 8px;
		width: 15rem;
		font-size: 1.2rem;
		text-align: center;
	}
	.inputbutn.int:hover{
		background: none;
		color: white;
		border: 1.5px solid white;
		border-radius: 8px;
		width: 15rem;
		font-size: 1.2rem;
		text-align: center;
		animation-name: chb;
		animation-duration: 1.2s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
	.btaling{
		font-size: 3rem;
		text-align: center;
	}
	.block{
		display: inline-block;
		position: absolute; 
		padding-top: 3rem; 
		padding-bottom: 3rem;
		width: 72%;
		height: 86.5%;  
	}
	.block.start{
		text-align: right;
		display: inline-block;
		position: absolute;
		padding-top: 3rem; 
		padding-bottom: 3rem;
		width: 72%;
		height: 86.5%; 
	}
	.Imgico{
		width: 4rem;
		height: 4rem;
	}
	.atxt{
		font-size: 1.5rem;
	}
}

/* 4 */
@media screen and (min-width: 1900px) {
	nav{
		background-color: none;
		border: 2px solid white;
		border-radius: 40px;
		margin: 4.2rem;
		width: 19rem;
		height: 62rem;
		padding: 3rem;
		text-align: center;
		display: inline-block;
	}
	aside{
		height: 10rem;
		width: 10rem;
		border: 2px solid white;
		text-align: center;
		display: inline-block;
	}
	.asidMin{
		height: 5.5rem;
		width: 5.5rem;
		border: 2px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 4rem;
		height: 4rem;
	}
	.title{
		font-size: 3rem;
	}
	.subtitle{
		font-size: 2.1rem;
		text-align: left;
	}
	.space{
		font-size: 2.1rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 2px solid white;
		border-radius: 8px;
		width: 18rem;
		font-size: 1.8rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 2px solid white;
		border-radius: 8px;
		width: 18rem;
		font-size: 1.8rem;
		text-align: center;
	}
	.inputbutn.int:hover{
		background: none;
		color: white;
		border: 3px solid white;
		border-radius: 8px;
		width: 14rem;
		font-size: 1.8rem;
		text-align: center;
		animation-name: chb;
		animation-duration: 1.2s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
	.btaling{
		font-size: 3rem;
		text-align: center;
	}
	.block{
		display: inline-block;
		position: absolute; 
		padding-top: 4.2rem; 
		padding-bottom: 4.2rem;
		width: 74%;
		height: 89%; 
	}
	.block.start{
		text-align: right;
		display: inline-block;
		position: absolute;
		padding-top: 4.2rem; 
		padding-bottom: 4.2rem;
		width: 72%;
		height: 89%; 
	}
	.Imgico{
		width: 4rem;
		height: 4rem;
	}
	.atxt{
		font-size: 2.1rem;
	}
}

/* 3 */
@media screen and (min-width: 2400px) {
	nav{
		background-color: none;
		border: 3px solid white;
		border-radius: 40px;
		margin: 5rem;
		width: 20rem;
		height: 71rem;
		padding: 4rem;
		text-align: center;
		display: inline-block;
	}

	aside{
		height: 14rem;
		width: 14rem;
		border: 3px solid white;
		text-align: center;
		display: inline-block;
	}
	.asidMin{
		height: 5.5rem;
		width: 5.5rem;
		border: 3px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 4rem;
		height: 4rem;
	}
	.title{
		font-size: 3.3rem;
	}
	.subtitle{
		font-size: 2.1rem;
		text-align: left;
	}
	.space{
		font-size: 2.1rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 3px solid white;
		border-radius: 10px;
		width: 20rem;
		font-size: 1.8rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 3px solid white;
		border-radius: 10px;
		width: 20rem;
		font-size: 1.8rem;
		text-align: center;
	}
	.inputbutn.int:hover{
		background: none;
		color: white;
		border: 3px solid white;
		border-radius: 10px;
		width: 20rem;
		font-size: 1.8rem;
		text-align: center;
		animation-name: chb;
		animation-duration: 1.2s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
	.btaling{
		font-size: 4rem;
		text-align: center;
	}
	.block{
		display: inline-block;
		position: absolute; 
		padding-top: 5rem; 
		padding-bottom: 5rem;
		width: 72%;
		height: 86%; 
	}
	.block.start{
		text-align: right;
		display: inline-block;
		position: absolute;
		padding-top: 5rem; 
		padding-bottom: 5rem;
		width: 72%;
		height: 86%; 
	}
	.Imgico{
		width: 8rem;
		height: 8rem;
	}
	.atxt{
		font-size: 2.1rem;
	}
}

/* 2 */
@media screen and (min-width: 2800px) {
	nav{
		background-color: none;
		border: 3px solid white;
		border-radius: 50px;
		margin: 7.5rem;
		width: 30rem;
		height: 108rem;
		padding: 5rem;
		text-align: center;
		display: inline-block;
	}

	aside{
		height: 20rem;
		width: 20rem;
		border: 3px solid white;
		text-align: center;
		display: inline-block;
	}
	.asidMin{
		height: 10rem;
		width: 10rem;
		border: 3px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 8rem;
		height: 8rem;
	}
	.title{
		font-size: 5rem;
	}
	.subtitle{
		font-size: 3.5rem;
		text-align: left;
	}
	.space{
		font-size: 3.5rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 3px solid white;
		border-radius: 10px;
		width: 28rem;
		font-size: 3.1rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 3px solid white;
		border-radius: 10px;
		width: 28rem;
		font-size: 3.1rem;
		text-align: center;
	}
	.inputbutn.int:hover{
		background: none;
		color: white;
		border: 3px solid white;
		border-radius: 10px;
		width: 28rem;
		font-size: 3.1rem;
		text-align: center;
		animation-name: chb;
		animation-duration: 1.2s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
	.btaling{
		font-size: 5rem;
		text-align: center;
	}
	.block{
		display: inline-block;
		position: absolute;
		padding-top: 7.5rem; 
		padding-bottom: 7.5rem;
		width: 71.5%;
		height: 86%; 
	}
	.block.start{
		text-align: right;
		display: inline-block;
		position: absolute;
		padding-top: 7.5rem; 
		padding-bottom: 7.5rem;
		width: 71.5%;
		height: 86%; 
	}
	.Imgico{
		width: 10rem;
		height: 10rem;
	}
	.atxt{
		font-size: 3.5rem;
	}
}

/* 1 */
@media screen and (min-width: 4500px) {
	nav{
		background-color: none;
		border: 8px solid white;
		border-radius: 100px;
		margin: 15rem;
		width: 60rem;
		height: 215rem;
		padding: 11rem;
		text-align: center;
		display: inline-block;
	}
	aside{
		height: 40rem;
		width: 40rem;
		border: 8px solid white;
		text-align: center;
		display: inline-block;
	}
	.asidMin{
		height: 15rem;
		width: 15rem;
		border: 8px solid white;
		text-align: center;
		display: inline-block;
	}
	.ImgicoMin{
		width: 10rem;
		height: 10rem;
	}
	.title{
		font-size: 10rem;
	}
	.subtitle{
		font-size: 7rem;
		text-align: left;
	}
	.space{
		font-size: 7rem;	
	}
	.inputtxt{
		background: none;
		color: white;
		border: 8px solid white;
		border-radius: 10px;
		width: 57rem;
		font-size: 5.25rem;
	}
	.inputbutn{
		background: none;
		color: white;
		border: 8px solid white;
		border-radius: 10px;
		width: 57rem;
		font-size: 5.25rem;
		text-align: center;
	}
	.inputbutn.int:hover{
		background: none;
		color: white;
		border: 8px solid white;
		border-radius: 10px;
		width: 57rem;
		font-size: 5.25rem;
		text-align: center;
		animation-name: chb;
		animation-duration: 1.2s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
	.btaling{
		font-size: 10rem;
		text-align: center;
	}
	.block{
		display: inline-block;
		position: absolute;
		padding-top: 15rem; 
		padding-bottom: 15rem;
		width: 73%;
		height: 89%; 
	}
	.block.start{
		text-align: right;
		display: inline-block;
		position: absolute;
		padding-top: 15rem; 
		padding-bottom: 15rem;
		width: 73%;
		height: 89%; 
	}
	.Imgico{
		width: 20rem;
		height: 20rem;
	}
	.atxt{
		font-size: 7rem;
	}
}

@keyframes chb{
	from{
		background-color: none;
		color: white;
	}
	to{
		background-color: white;
		color: black;
	}
}
