*{
	padding: 0;
	margin: 0;
	font-family: Arial;
	color: #FFF;
}

a{
	text-decoration: none;
}

nav{
	background-color: rgb(36, 25, 25);
	width: 10rem;
	height: 35rem;
	padding: 2rem;
	margin-left: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	text-align: center;
	display: inline-block;
	border-radius: 10px;
}
aside{
	height: 6rem;
	width: 6rem;
	border: 1px solid white;
	display: inline-block;
}
.InitHelp{
	margin-left: 52rem;
}
.asidMin{
	height: 3rem;
	width: 3rem;
	border: 1px solid white;
	text-align: center;
	display: inline-block;
}
.ImgicoMin{
	width: 2.5rem;
	height: 2.5rem;
}
.title{
	font-size: 1.7rem;
}
.subtitle{
	font-size: 1.2rem;
}
.space{
	font-size: 1.2rem;	
}
.inputtxt{
	background: none;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	width: 10rem;
	font-size: 1rem;
}
.inputbutn{
	background: none;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	width: 10rem;
	font-size: 1rem;
	text-align: center;
}
.inputbutn.int:hover{
	background: none;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	width: 10rem;
	font-size: 1rem;
	text-align: center;
	animation-name: chb;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.btaling{
	font-size: 2rem;
	text-align: center;
}
.block{
	text-align: left;
	display: inline-block;
	position: absolute;
	margin-top: 2rem; 
	margin-bottom: 2.5rem;
	width: 77%;
	height: 89.4%;
	background-color: none;
}
.block.start{
	text-align: center;
	display: inline-block;
	position: absolute;
	margin-top: 2rem; 
	margin-bottom: 2.5rem;
	width: 77%;
	height: 89.4%;
	background-color: none; 
	border-radius: 10px;
}
.Imgico{
	width: 3rem;
	height: 3rem;
}
.ImgicoLog{
	margin-top: 13rem; 
	width: 10rem;
	height: 10rem;
}
.atxt{
	font-size: 1.2rem;
}

@keyframes chb{
	from{
		background-color: none;
		color: white;
	}
	to{
		background-color: white;
		color: black;
	}
}
